<p>
  <% if logged_in? %>
    Display New Question Form
    <%= render 'new' %>
  <% else %>
    <%= link_to 'Log in', new_login_path %> to ask a question!
  <% end %>
</p>
<p>list of recent questions | list of recent answers</p>