<table>
  <tbody>
    <% Question.all.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.text %></td>
        <td><%= question.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
