<h1>All Questions</h1>

<table>
  <tr>
    <th>Unanswered Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @questions.reverse_order.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td></td>
        <td><%= link_to "Edit", edit_question_path(question) %></td>
        <td><%= link_to "Remove", question, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to "New question", new_question_path %>
