<h1>I AM YOUR ALL QUESTIONS INDEX</h1>
<table>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.user_id %></td>
        <td><%= question.text %></td>

      </tr>
    <% end %>
  </tbody>
</table>
