<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Question_box</title>
  <link href="profile.scss" type="test/css" rel="stylesheet" />
</head>
<body>
  <!-- Left Footer / Profile Picture -->
  <!-- <div class="profile_head">
      <div id="profile_pic">
        <img src="http://placekitten.com/g/255/255">
      </div> -->

  <!-- Left Footer / User info -->
<p>jfdbvghbresfjn</p>
<%= link_to 'so_reputation' %>

  <!-- Right Footer / Bio -->

  <!-- Right Footer / Last 10 github repos updated -->

  <!-- Right Footer / Questions and Answer made by the user -->
<%= javascript_include_tag "application.js" %>

</body>
</html>
