<!DOCTYPE html>
<html>
<head></head>
<body>
<h2>Hello <%= @user.name.upcase %>, thanks for registering with Question Box! Please click the link below to confirm your account.
	<!-- <p><%= link_to "Login", #THIS SHOULD GO TO NEW LOGIN PAGE HALP %> -->
 </h2>
</body>

</html>