<p>
  Thank you for joining Question Box!  Please click the following link to verify your account and begin asking and answering the most pressing questions of our time.
</p>
<%#= email_verification_url %>