<div class="user_answers">
  <% answers.each do |answer| %>
      <div class="small-12 columns">
        <ul>'<%= answer.text.truncate(100) %>' for <%= link_to answer.question.title, answer.question %></ul>
      </div>
  <% end %>
</div>
