<div class="user_answers">
  <% answers.each do |answer| %>
      <div class="small-4 columns">
        <%= answer.text.truncate(100) %> for <%= link_to answer.question.title, answer.question %>
      </div>
  <% end %>
</div>

