
<div class="row">

  <div class="small-10 small-offset-1 columns">

    <% if @user.try(:verified) %>
			<p>Thank you for verifying your account.  Please <%= link_to 'login', new_login_path %> to use QuestionBox.</p>
		<% else %>
		  <p>Before you can use your account, please check your email and follow the instructions to verify your account.</p>
		<% end %>

		<p>
		  <%= link_to "Go to homepage", root_path %>
		</p>
	</div>
<div>