<% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="flash_error">
        You have <%= pluralize(@user.errors.count, "error") %> in this form.
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>