<div class="row answer" id="<%= dom_id(answer) %>">
  <div class="small-9 columns">
    <div><%= markdown(answer.text) %></div>
    <div>Answered by <%= answer.user.name %></div>
  </div>
  <div class="small-3 columns text-center">
    <%= pluralize answer.votes.count, "vote" %>
  </div>
</div>