// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.asklogin {
	text-align:center;
	padding-top:200px;
}

.reask {
	margin-bottom:70px;
}

.reansw {
	margin-left: auto;
	margin-right: auto;
}

.unansw {
	margin-left: auto;
	margin-right: auto;
}

table {
	display: inline-block;
}
