body {
background-image: url('http://i.imgur.com/BjwPMVK.png');
margin: 0 auto;
text-align: center;
}
table, tbody {
margin-top: 50px;
}
.unanswered_questions {
float: left;
font-weight: bold;
font-size: 30px;
}
.answered_questions {
/*float:right;*/
font-weight: bold;
font-size: 30px;
}
.main {
float: left;
}
.main_2 {
float: right;
}
.paginate {
margin: 0 auto;
}

/* FOR USE ON SHOW PAGE */
.vote {
    float: right;
}
.qa_show {
    float: left;
    margin-left: auto;
}
.question_wrapper {
    height: 125px;
    max-width: 400px;
    margin: 0 auto;
}
.answer_wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.break {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

h3 {
    font-weight: bold;
}