.question_tag_list {
  margin-bottom: 1rem;
}

.question {
  .counter .count {
    font-weight: bold;
    font-size: 2rem;
  }

  .answer {
    border-bottom: 1px solid #EEEEEE;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}