// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";
@import "bourbon";
@import "neat";

left_footer {
  float: left;
  position: absolute;
  top: 200px;
  left: 100px;
  padding-left: 105px;
  font-size: 12px;
  padding-top: 8px;
  vertical-align: top;
  width: 100px;
  margin: 24px;
  padding: 0;
}

right_footer {
  float: right;
  position: absolute;
  top: 500px;
  left: 100px;
  padding-left: 105px;
  padding-top: 8px;
  vertical-align: top;
  width: 100px;
}
