// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";
@import "bourbon";
@import "neat";


.left_footer {
  float: left;
  @include position(absolute, 70px 0 0 0);
  width: 400px;
}
.left_footer ul{
  list-style-type: none;
}

.right_footer {
  float: left;
  @include border-image(url(/images/simple-border.png) 27 repeat );
  @include position (absolute, 50px 270px 0 550px);
  margin: 24px;
  .user_questions {
    @include position(absolute, 30px 0 0 0);
    width: 300px;
    height: 400px;
  }
}
.answers {
  @include position(absolute, 30px 230px 0 384px);
  width: 300px;
}
.github_repos {
  @include position(absolute, 380px 0 0 0);
}

.edit_profile_button {
  @include button(rgb(51,51,51));
}
.delete_profile_button{
  @include button(rgb(51,51,51));
}
