<header>
  <div class="container">
    <%= link_to "QuestionBox", '#' %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "All Questions", '#' %></li>
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
