<h2>QuestionBox</h2>
<p><%= link_to 'All Questions', questions_index_path %> |
  <% if logged_in? %>
    Logged in as <%= current_user.name %> |
    <%= link_to 'Log Out', login_path, :method => :delete %>
  <% else %>
    <%= link_to 'Log In', new_login_path %>
  <% end %>
</p>
